img{
  display:flex;
  padding-left: 34em;
}
#form{
  line-height: 2.0;
  display: flex;
  padding-left: 30em;
}
.searchbtn{
  display: flex;
  
}
#ofrecido{
  display:flex;
  padding-left: 550px;
}
.footer-left{
  display:block;
  display:inline-block;
  margin-left: auto;
}
.footer-links{
  display:inline;
  padding-left: 25em;
}
#terminos{
  display: inline;
  padding-left:0em;
}
#pais{
  line-height: normal;
  padding-left: 35em;
}
#button1, #button2{
  margin-left: 55px;
  padding-left: 0;
  display: inline-block;
}
#botonesarriba{
  text-align:right;
}